<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
  <title>File Uploader</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/file.css" />
  <script src="https://kit.fontawesome.com/92ee4b2ebb.js" crossorigin="anonymous"></script>
  <script src="/scripts/fileScripts.js" defer></script>
</head>

<body>
  <%- include("partials/header") %>
  <div class="file--card">
    <img class="file--icon" src="<%=locals.file.url%>" alt="file icon">
    <h2><%= locals.file.name %></h2>
    <p><span class="bold">Uploaded by:</span> <%= locals.file.user %></p>
    <p><span class="bold">Date uploaded:</span> <%= locals.file.dateFormatted%></p>
    <img src="/images/delete.png" alt="delete file" class="icon delete--icon">

    <div class="shareFile--cont hidden">
      <h3>Share file</h3>
      <p class="share--link">https://file-uploader-n9fm.onrender.com/file/share/<%= locals.file.id%><i class="fa-solid fa-copy"></i></p>
      <img src="/images/close.png" alt="close" class="closeShare">
    </div>

    <div class="deleteConfirmation--cont hidden">
      <h3>Are you sure you want to delete this file?</h3>
      <div class="deleteConfirmationBtns--cont">
        <button id="no">No</button>
        <a href="<%=`/file/delete/${locals.file.id}`%>"><button id="yes">Yes</button></a>
      </div>
    </div>
    <img src="/images/share.png" alt="share file" class="icon share--icon">

  </div>
  <%- include("partials/footer") %>
</body>

</html>