<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
  <title>File Uploader</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/folder.css" />
  <script src="/scripts/folderScripts.js" defer></script>
</head>

<body>
  <%- include("partials/header") %>
  <h1><%= locals.folder.name%></h1>
  <div class="user--files-cont ">
    <% locals.files.forEach(file => {%>
    <%- include("partials/file", {file: file}) %>
    <% });%>
  </div>
  <%- include("partials/addFile") %>
  <div class="btns">
    <button class="upload_file--btn"><img src="/images/file.png" alt="upload file"></button>
    <button class="delete_folder--btn"><img src="/images/delFolder.png" alt="delete folder"></button>
  </div>
  <div class="deleteConfirmation--cont hidden">
    <h3>Are you sure you want to delete this folder and all the files within it?</h3>
    <div class="deleteConfirmationBtns--cont">
      <button id="no">No</button>
      <a href="<%=`/folder/delete/${locals.folder.id}`%>"><button id="yes">Yes</button></a>
    </div>
  </div>

  <%- include("partials/footer") %>
</body>

</html>